html, body {
    height: 100%;
    background-color: #eee;
}

#wrapper {
    min-height: 90%;
}

div#header {
    height: 15%;
}

div#image_space {
    padding-top: 5%;
    height: 85%;
}

button {
    min-width: 100%;
}

#bottom {
    height: 10%;
}

img {
    width: 90%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


